<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="N7_QLBH_T5.Properties.Settings.N7_QLBHConnectionString"
            connectionString="Data Source=DESKTOP-G1AOD02;Initial Catalog=N7_QLBH;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>